.theme-button-wrap {
  display: flex;
  justify-content: flex-start;
}

.theme-button-width-full .theme-button:is(a, button) {
  display: flex;
  width: 100%;
}

.theme-button-width-custom .theme-button:is(a, button) {
  max-width: 100%;
}

.theme-button:disabled,
.theme-button.disabled {
  cursor: default;
}
