/* Module Overrides */
.theme-info-box-prefix {
  display: flex;
  align-items: center;
  gap: 15px;
}
.theme-info-box-prefix::after {
  content: "";
  width: 40px;
  height: 2px;
  background: currentColor;
  transform: translateY(5px);
}
.theme-info-box-prefix:not(:last-child) {
  margin-bottom: 35px;
}
.theme-info-box-title {
  margin-bottom: 0;
}
.theme-info-box-title-wrap:not(:last-child) {
  margin-bottom: 20px;
}
.theme-info-box-text:not(:last-child) {
  margin-bottom: 50px;
}
