/* Module Overrides */
.theme-info-box {
  text-wrap: balance;
}
.theme-info-box-prefix {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--primary);
  text-transform: capitalize;
}
.theme-info-box-prefix::after {
  content: "";
  width: 40px;
  height: 2px;
  background: currentColor;
  transform: translateY(5px);
}
.theme-info-box-prefix:not(:last-child) {
  margin-bottom: 35px;
}
.theme-info-box-title {
  margin-bottom: 0;
}
.theme-info-box-title-wrap:not(:last-child) {
  margin-bottom: 20px;
}
.theme-info-box-text:not(:last-child) {
  margin-bottom: 50px;
}
/* Testimonials */
.testimonials .theme-posts__card {
  background: var(--light);
  padding: 35px;
  border-radius: 15px;
  color: var(--dark);
}
.testimonials .theme-posts__content {
  padding: 0;
}
.testimonials .theme-posts__title {
  color: var(--primary);
  font-weight: 400;
}
.testimonials .theme-posts__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  overflow: hidden;
  min-height: calc(8 * 1lh);
}
.testimonials .theme-posts__date {
  color: var(--grey);
}
.testimonials .theme-posts__thumb {
  margin-bottom: 10px;
}
.testimonials .theme-posts__thumb img {
  width: 150px;
}
/* Services */
.services .theme-posts__link {
  overflow: hidden;
  border-radius: 15px;
}
.services .theme-posts__content {
  background: var(--primary);
  border-radius: 15px;
  margin-top: -10px;
  z-index: 1;
  position: relative;
}
.services .theme-posts__thumb .placeholder {
  aspect-ratio: 4 / 3;
  background: var(--grey);
}
.services .theme-posts__thumb img {
  aspect-ratio: 4 / 3;
}
.services .theme-posts__title {
  color: var(--light);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  min-height: calc(2 * 1lh);
  text-align: center;
  font-family: var(--font-heading);
  margin: 0;
}
